@use "index";
@use "vars";
@use "mixins";

.context-menu {
  background-color: vars.$bgColor-lightAccent;
  border: 1px solid vars.$light-gray;
  border-radius: vars.$border-radius-default;
  display: none;
  width: 200px;
  height: 370px;
  position: absolute;
  padding: 5px;
  z-index: 100;
}
 
.context-menu--active {
  display: flex;
  flex-direction: column;
}

.context-menu__item {
  color: vars.$fgColor-default;
  font-size: 14px;
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  text-align: start;
}

.context-menu__title {
  display: flex;
  justify-self: start;
}

.context-menu p {
  color: vars.$strong-gray;
  font-size: 12px;
  margin: 5px;
}

.context-menu__item:hover {
  background-color: vars.$muted-light-gray;
  border-radius: 3px;
  cursor: pointer;
}

.context-menu__item--delete {
  color: vars.$redAccent;
}

.context-menu__item--priority {
  align-content: center;
  height: 28px;
  width: 28px;  
  margin: 5px;
  margin-bottom: 10px;
  padding: 0;
  border: none;
}

.context-menu__container {
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid vars.$light-gray;
}