@use "index";
@use "vars";

.main-button {
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: none;
}
 
.main-button--green {
    background-color: vars.$greenAccent;
    color: white;
    font-weight: bold;
}

.main-button--back {
    background-color: vars.$taskCardColor-hover;
    max-height: 40px;
    padding: 2%;
}

.field {
  display: flex;
  flex-direction: column;
  margin-block: 0;
 
  
  .field:has([required]) .field__label::after,
  .radios:has([required]) .radios__legend::after {
    content: "*";
    padding-inline: 0.25em;
    color: red;
  }

  .field__errors {
    display: flex;
    flex-direction: column;
    row-gap: 0.4em;
    margin-top: 0.5em;
    font-size: 0.8em;
    color: red;
    line-height: 1.25;
  }

  .field__errors:empty {
    display: none;
  }

}


