@use "index";
@use "vars";
@use "mixins";

.tabs {
    display: flex;
    background-color: vars.$bgColor-lightAccent;
    width: 100vw;
    min-height: 5vh;
}

.tabs__tab {
    padding: 1rem 2rem;
    cursor: pointer;
    min-width: 170px;
    transition: background-color 0.2s;
    border: 2px solid transparent;
    border-radius: 0px !important;
    background: none;
    font-size: 1rem;
    color: vars.$fgColor-default;

}

.tabs__tab:hover {
    background-color: vars.$bgColor-current;
    border-radius: 8px !important;
}

.tabs__tab--active {
    border-bottom: 2px solid vars.$bright-blueAccent;
    font-weight: 500;
}

