@use "./vars";

#root {
  margin: 0 auto;
  text-align: center;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: vars.$bgColor-default;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

form {
  display: flex;
  flex-direction: column;
  color: white;
  row-gap: 1.2em;
  margin: 10px;
  padding: 15px;
  border: 1px solid #3d444db3;
  background-color: #151b23;
  border-radius: 0.375rem;
}

input,
button,
fieldset,
select,
textarea {
  border-radius: 7px;
  transition-duration: 0.2s;
}

input[type='checkbox'] {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    vertical-align: middle;
    border: 2px solid vars.$greenAccent;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

input[type='checkbox']:checked {
  border: 2px solid vars.$light-gray;
  background-color: vars.$ultra-light-gray;
}

input[type='checkbox']::after {
  content: "\2713";
  color: vars.$bgColor-default;
  width: 0px;
  height: 0px;
  transition: 500ms;
  display: none;
}

input[type='checkbox']:checked::after {
  width: 10px;
  height: 10px;
  display: block;
  transition: 500ms;
  margin-top: -7px;
}



a {
  font-weight: 500;
  color: vars.$muted-blue;
  text-decoration: none;
}
a:hover {
  color: vars.$muted-blue;
}

h5 {
  margin: 0;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
