@use './vars';

#root {
	margin: 0 auto;
	text-align: center;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: vars.$bgColor-default;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}

form {
	display: flex;
	flex-direction: column;
	color: white;
	row-gap: 1.2em;
	margin: 10px;
	padding: 15px;
	border: 1px solid #3d444db3;
	background-color: #151b23;
	border-radius: 0.375rem;
}

input,
button,
fieldset,
select,
textarea {
	border-radius: 7px;
	transition-duration: 0.2s;
}

input[type='checkbox'] {
	width: 15px;
	height: 15px;
	border-radius: 3px;
	vertical-align: middle;
	border: 2px solid vars.$border-default;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

input[type='checkbox']:checked {
	border: 2px solid transparent !important;
	background-color: vars.$completed-element;
}

input[type='checkbox']::after {
	content: '\2713';
	color: vars.$bgColor-default;
	width: 0px;
	height: 0px;
	transition: 500ms;
	display: none;
}

input[type='checkbox']:checked::after {
	width: 10px;
	height: 10px;
	display: block;
	transition: 500ms;
	margin-top: -7px;
}

a {
	font-weight: 500;
	color: vars.$muted-blueAccent;
	text-decoration: none;
}
a:hover {
	color: vars.$muted-blueAccent;
}

h5 {
	margin: 0;
}

button {
	border: 1px solid transparent;
	cursor: pointer;
	transition: border-color 0.25s;
}

.dropdown-menu {
	width: 100%;
	display: flex;
	background-color: transparent;
	border: none;
	border-radius: vars.$border-radius-default;
	font-size: 14px;
}

.dropdown-menu--setting {
	min-width: 100px;
	width: fit-content;
	padding: 2px;
}

.dropdown-menu--with-after::after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6"><path d="M0 0l6 6 6-6z" fill="%23555"/></svg>');
	rotate: -90deg;
	transition: 0.2s;
}

.dropdown-menu--time {
	left: 1%;
	margin-top: 10px;
	padding-left: 5px;
}

.dropdown-menu--active {
	background-color: vars.$muted-hover-element;
}

.dropdown-menu--active::after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6"><path d="M0 0l6 6 6-6z" fill="%23222"/></svg>');
	position: absolute;
	transition: 0.2s;
	right: 10px;
	rotate: 0deg;
}

.dropdown-menu:hover {
	background-color: vars.$muted-hover-element;
	cursor: pointer;
}

.dropdown-menu:focus {
	outline: none;
	background-color: vars.$muted-hover-element;
}

.dropdown-menu__select-btn {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding: 1px;
	background-color: transparent;
	color: vars.$bright-blueAccent;
	text-align: start;
}

.dropdown-menu__option-btn {
	width: 100%;
	background-color: transparent;
	color: vars.$fgColor-default;
	text-align: start;
	padding-left: 10px;
}

.dropdown-menu__option-btn:hover {
	background-color: vars.$hover-element;
	cursor: pointer;
}

.dropdown-menu__option-btn:focus {
	outline: none;
	background-color: vars.$hover-element;
}

.dropdown-menu__option-btn--current {
	color: vars.$bright-blueAccent;
}

.dropdown-menu__content {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 5px;
	margin-top: 28px;
	background-color: vars.$bgColor-default;
	border: 1px solid vars.$border-default;
	border-radius: vars.$border-radius-default;
	width: 97%;
	max-height: 120px;
	overflow: hidden;
	overflow-y: scroll;
	z-index: 1;
}

.dropdown-menu__content::-webkit-scrollbar {
	width: 6px;
}

.dropdown-menu__content::-webkit-scrollbar-track {
	background: transparent;
}

.dropdown-menu__content::-webkit-scrollbar-thumb {
	background-color: vars.$hover-element;
	height: 25px;
	border-radius: 20px;
}

.checkbox-switch {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin-right: 10px;
	position: relative;
	vertical-align: middle;
	font-size: 14px;
	user-select: none;
}

.checkbox-switch__wrapper {
	display: inline-block;
	width: 36px;
	height: 14px;
	border-radius: 20px;
	position: relative;
	top: 6px;
	vertical-align: top;
	background: #9f9f9f;
	transition: 0.2s;
}

.checkbox-switch__wrapper:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -3px;
	left: -1px;
	background: #fff;
	border-radius: 50%;
	box-shadow:
		0 3px 1px -2px rgba(0, 0, 0, 0.2),
		0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 1px 5px 0 rgba(0, 0, 0, 0.12);
	transition: 0.15s;
}

.checkbox-switch input[type='checkbox'] {
	display: block;
	position: absolute;
	opacity: 0;
}
.checkbox-switch input[type='checkbox']:checked + .checkbox-switch__wrapper {
	background: #9abef7;
}
.checkbox-switch input[type='checkbox']:checked + .checkbox-switch__wrapper:before {
	background: #1a73e8;
	transform: translateX(18px);
}

/* Hover */
.checkbox-switch input[type='checkbox']:not(:disabled) + .checkbox-switch__wrapper {
	cursor: pointer;
	border-color: rgba(0, 0, 0, 0.3);
}

/* Active/Focus */
.checkbox-switch
	input[type='checkbox']:not(:disabled):active
	+ .checkbox-switch__wrapper:before,
.checkbox-switch
	input[type='checkbox']:not(:disabled):focus
	+ .checkbox-switch__wrapper:before {
	animation: checkbox-active-on 0.5s forwards linear;
}
@keyframes checkbox-active-on {
	0% {
		box-shadow: 0 0 0 0 rgba(212, 212, 212, 0);
	}
	99% {
		box-shadow: 0 0 0 10px rgba(212, 212, 212, 0.5);
	}
}

.checkbox-switch
	input[type='checkbox']:not(:disabled):checked:active
	+ .checkbox-switch__wrapper:before,
.checkbox-switch
	input[type='checkbox']:not(:disabled):checked:focus
	+ .checkbox-switch__wrapper:before {
	animation: checkbox-active-off 0.5s forwards linear;
}
@keyframes checkbox-active-off {
	0% {
		box-shadow: 0 0 0 0 rgba(154, 190, 247, 0);
	}
	99% {
		box-shadow: 0 0 0 10px rgba(154, 190, 247, 0.5);
	}
}

/* Disabled */
.checkbox-switch input[type='checkbox']:disabled + .checkbox-switch__wrapper {
	filter: grayscale(60%);
	border-color: rgba(0, 0, 0, 0.1);
}
.checkbox-switch input[type='checkbox']:disabled + .checkbox-switch__wrapper:before {
	background: #eee;
}
