@use "vars";

@mixin flex-center($d: row) {
  display: flex;
  justify-content: center;
  align-items: center;

  @if ($d == column) {
    flex-direction: column;
  }
}

@mixin flex-start($d: row) {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @if ($d == column) {
    flex-direction: column;
  }
}

@mixin overflow-default {
  overflow-x: hidden;
  overflow-y:scroll;
}

@mixin textarea-default {
  text-align: start;
  border: none;
  border-radius: 0px;
  padding: 10px;
  outline:none;
  resize: none;
}