@use "vars";

@mixin flex-center($d: row) {
  display: flex;
  justify-content: center;
  align-items: center;

  @if ($d == column) {
    flex-direction: column;
  }
}

@mixin flex-start($d: row) {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @if ($d == column) {
    flex-direction: column;
  }
}

@mixin default-border($d: none){
    border: 2px solid vars.$light-gray;
    border-radius: 7px;
}

@mixin overflow-default {
    overflow-x: hidden;
    overflow-y:scroll;
}