@use "index";
@use "vars";
@use "mixins";

.task-page {
  display: flex;
  position: relative;
}

.task-list {
    @include mixins.flex-start(column);
    @include mixins.overflow-default;
    max-height: 93vh;
    position: relative;
    width: 50vw;
    border-right: 1px solid vars.$light-gray;
    padding: 7px;  
}

.task-list::-webkit-scrollbar { width: 0; }

.task-list__section {
    width: 100%;
    border: none;
    padding: 0px;
    text-align: center;
    overflow: visible;
}

.task-list__title {
  margin-top: 50px;
  margin-bottom: 10px;
  height: fit-content;
}

.task-list__title:hover {
  cursor: pointer;
}

.task-list__task {
  align-items: center;
  border-bottom: 1px solid vars.$light-gray;
  background: transparent;
  color: vars.$fgColor-default;
  display: flex;
  margin-top: 5px;
  width: 100%;
  height: 40px;
  overflow: hidden;
}


.task-list__task:hover {
  background-color: vars.$ultra-light-gray;
  border-radius: 7px;
  border: none;
}

.task-list__task h4 {
  font-weight: 400;
  margin: 5px;
  font-size: 14px;
}

.task-list__task p {
  color: vars.$strong-gray;
  margin-left: 10px;
  font-size: 12px;
}

.task-list__task--active {
  background-color: vars.$light-gray;
  border-radius: 7px;
}

.task-list__task--completed {
  color: vars.$ultra-light-gray;
}

.task-list__task--completed p{
  color: vars.$ultra-light-gray;
}

.side-bar {
  border-right: 1px solid vars.$light-gray;
  height: 95vh;
  width: 20vw;
  padding: 5px;
}

.side-bar__items-list {
  padding: 10px;
  border-bottom: 1px solid vars.$light-gray;
}

.side-bar__item {
  display: flex;
  background-color: transparent;
  border-radius: 7px;
  color: vars.$fgColor-default;
  width: 100%;
  height: 40px;
  overflow: hidden;
  align-items: center;
  padding: 5px;
}

.side-bar__item:hover {
  background-color: vars.$light-gray;
}

.side-bar__item--active {
  background-color: vars.$ultra-light-gray;
}

.icon {
  width: 30px;
  height: 15px;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--inbox-list {
  background-image: url("../../public/inbox-list-icon.svg");
}

.task-info-window {
  height: 95vh;
  width: 30vw;
  padding: 5px;
  outline: none;
  position: relative;
}

.task-info-window__title {
  @include mixins.textarea-default;
  width: 100%;
  min-height: 50px;
  font-size: larger;
  font-weight: 700;
  background-color: transparent;
}

.task-info-window__description {
  @include mixins.textarea-default;
  width: 100%;
  min-height: 600px;
  font-size: smaller;
  margin-top: 10px;
  background-color: transparent;
}

.task-info-window__date {
  background-color: transparent;
  margin-top: 10px;
  width: fit-content;
  height: fit-content;
  color: vars.$bright-blue;
  font-size: smaller;
  float: left;
  border: none;
}

.task-info-window__date:hover {
  background-color: vars.$light-gray;
  cursor: pointer;
}

.task-info-window__menu-date {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: vars.$light-gray;
  bottom: 60px;
}