@use "helpers" as *;

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.not-clickable {
  @include abs-center();

  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
  
  &--active {
      display: flex;
  }
}

.border-line {
  width: 100%;
  height: rem(1);
  background-color: var(--color-dark-20);
}

.right-border {
  border-right: rem(1) solid var(--color-dark-25);
}