//⁡⁣⁣⁢-------------Цвета---------------⁡
$bgColor-default: #1C1C1C;
$bgColor-lightAccent: #242424;
$bgColor-current: #3d444db3;
$muted-element: rgb(139, 137, 137);
$border-default: #3d444db3;
$hover-element: #5b6068b3;
$completed-element: #5b6068b3;
$muted-hover-element: #a9b1c02f;
$fgColor-default: #f0f6fc;
$muted-blueAccent: #23478a;
$bright-blueAccent: #1962e8;
$greenAccent: #238636;
$redAccent: #d52b24;



//⁡⁣⁣⁡⁣⁢⁢-------------Border---------------⁡
$border-radius-default: 6px;