@use "helpers" as *;

:root {
  //⁡⁣⁣⁢COLORS⁡
  --color-light: #ffffff;
  --color-muted-light: #D9D9D9;

  --color-dark: #141414;
  --color-dark-10: #1a1a1a;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-25: #444444;
  --color-dark-40: #666666;

  --color-gray-50: #7e7e81;
  --color-gray-60: #929299;

  --color-red: #ff5500;
  --color-muted-red: #ff5500c5;
  --color-opacity-red: #ff7b3a49;
  --color-yellow: #ffd11a;
  --color-blue: #491DE8;
  --color-green: #4EC218;

  --main-accent: #821ece;
  --main-accent-light: #9000ff;
  --main-opacity-accent: #9000ff6e;
  --muted-hover-accent: #695972;

  //⁡⁣⁣⁢FONTS⁡
  --font-famaly-base: "Inter", sans-serif;
  --font-famaly-accent: "Kumbh Sans", sans-serif;

  //⁡⁣⁣⁢TRANSITION⁡
  --transition-duration: 0.2s;

  //⁡⁣⁣⁢SIZES⁡
  --header-hieght: #{rem(60)};
}
