@use "helpers" as *;

:root {
  //⁡⁣⁣⁢COLORS⁡
  --color-light: #ffffff;

  --color-dark: #141414;
  --color-dark-10: #1a1a1a;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;

  --color-gray-50: #7e7e81;
  --color-gray-60: #98989a;

  --color-red: #ff5500;
  --color-yellow: #ffd11a;
  --color-blue: #4B29C3;

  --main-accent: #8212D9;

  //⁡⁣⁣⁢FONTS⁡
  --font-famaly-base: "Inter", sans-serif;
  --font-famaly-accent: "Kumbh Sans", sans-serif;

  //⁡⁣⁣⁢TRANSITION⁡
  --transition-duration: 0.2s;
}