//⁡⁣⁣⁢-------------Цвета---------------⁡
$bgColor-default: #0d1117;
$light-gray: #3d444db3;
$bgColor-insert: #010409;
$fgColor-default: #f0f6fc;
$taskCardColor-default: #323a49;
$muted-blue: #23478a;
$greenAccent: #238636;