@use "helpers" as *;

:root {
  //⁡⁣⁣⁢COLORS⁡
  --color-light: #ffffff;
  --color-muted-light: #D9D9D9;

  --color-dark: #141414;
  --color-dark-10: #1d1d1d;
  --color-dark-15: #212121;
  --color-dark-20: #313131;
  --color-dark-25: #333333;
  --color-dark-40: #555555;

  --color-gray-50: #7e7e81;
  --color-gray-60: #929299;

  --color-red: #ff5500;
  --color-muted-red: #ff5500c5;
  --color-opacity-red: #ff7b3a49;
  --color-yellow: #ffd11a;
  --color-blue: #603DDF;
  --color-green: #4EC218;

  --main-accent: #8c3ec7;
  --main-accent-light: #ac44fc;
  --main-opacity-accent: #9000ff6e;
  --muted-hover-accent: #695972;

  //⁡⁣⁣⁢FONTS⁡
  --font-famaly-base: "Inter", sans-serif;
  --font-famaly-accent: "Kumbh Sans", sans-serif;

  //⁡⁣⁣⁢TRANSITION⁡
  --transition-duration: 0.2s;

  //⁡⁣⁣⁢SIZES⁡
  --header-hieght: #{rem(60)};
}
