@use "../helpers" as *;

.button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    padding: rem(8) rem(48);
    font-size: rem(20);
    font-weight: 600;
    white-space: nowrap;
    color: var(--main-accent);
    background-color: var(--color-light);
    border-radius: rem(15);
    border: none;

    @include laptop {
        padding: rem(6) rem(34);
        font-size: rem(14);
        border-radius: rem(15);
    }

    @include hover {
        color: var(--color-light);
        background-color: var(--main-accent);
    }

    &--inverse {
        background-color: var(--main-accent);
        font-weight: 600;
        color: var(--color-light);

        @include hover {
            background-color: var(--color-light);
            color: var(--main-accent);
        }
    }

    &--add {
        background-color: transparent;
        align-items: center;
        font-weight: 400;
        column-gap: rem(10);
        font-family: var(--font-famaly-accent);
        font-size: inherit;
        padding: rem(4) rem(8);
        border-radius: rem(10);
        border: rem(1) solid transparent; 

        &::after {
            @include square(#{fluid(16, 14)});

            content: '';
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../assets/icons/plus-violet-icon.svg');
        }

        @include hover {
            color: var(--main-accent);
            background-color: var(--color-dark-25);
        }
    }
}