@use "../helpers" as *;

.button {
    display: inline-flex;
    justify-content: center;
    padding: rem(8) rem(48);
    font-size: rem(20);
    font-weight: 600;
    white-space: nowrap;
    color: var(--main-accent);
    background-color: var(--color-light);
    border-radius: rem(15);

    @include laptop {
        padding: rem(6) rem(34);
        font-size: rem(14);
        border-radius: rem(15);
    }

    @include hover {
        color: var(--color-light);
        background-color: var(--main-accent);
    }

    &--inverse {
        background-color: var(--main-accent);
        font-weight: 600;
        color: var(--color-light);

        @include hover {
            background-color: var(--color-light);
            color: var(--main-accent);
        }
    }
}