@use "../helpers" as *;

.dropdown-menu {
    position: relative;
    width: 100%;
    font-weight: 400;
    font-size: rem(14);

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(8) rem(8);
        width: 100%;
        background-color: transparent;
        border: none;
        border-radius:rem(8);
        color: var(--color-gray-60);
        font-weight: inherit;
        font-size: inherit;

        @include hover {
            background-color: var(--color-dark-25);
        }

        &::after {
            @include square(#{fluid(12, 10)});

            content: '';
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../assets/icons/down-arrow-icon.svg');
        }
    }

    &__title {
        display: inline-flex;
        align-items: center;
        column-gap: rem(10);

        &--active {
            color: var(--main-accent);

            rect {
                fill: var(--main-accent)
            }

            circle {
                stroke: var(--main-accent);
            }
        }

    }

    &__items {
        display: none;
        position: absolute;
        z-index: 100;
        width: 100%;
        padding: rem(5) rem(5);
        max-height: rem(240);
        overflow: scroll;
        overflow-x: hidden;
        background-color: var(--color-dark-15);
        border-radius:rem(8);
        border: rem(1) solid var(--color-dark-25);

        &::-webkit-scrollbar {
            width: rem(6);
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-dark-25);
            height: 25px;
            border-radius: 20px;
        }

        &--active {
            display: flex;
            flex-direction: column;
        }

        &--top {
            bottom: rem(35);
        }
    }

    &__item {
        color: var(--color-light);
        width: 100%;
        padding: rem(5);
        border-radius:rem(6);

        @include hover {
            background-color: var(--color-dark-25);
        }

        &--active {
            color: var(--main-accent);
        }
    }
}