@use "../helpers" as *;

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--color-dark-15);
    row-gap: fluid(50, 35);
    padding-top: rem(75);
    padding-bottom: rem(30);
    padding-right: rem(110);
    padding-left: rem(110);
    border-radius: rem(40);

    @include laptop {
        padding-top: rem(75);
        padding-bottom: rem(30);
        padding-right: rem(90);
        padding-left: rem(90);
    }

    @include mobile {
        padding-top: rem(35);
        padding-bottom: rem(35);
        padding-right: rem(25);
        padding-left: rem(25);
    }

    &__input {
        @include textarea-default;
        @include fluid-text(20, 16);

        border-radius: rem(20);
        padding: rem(6);
    }

    &__inputs-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: rem(25);

        &--wide {
            min-width: fluid(380, 250);

        }
    }

    &__buttons-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        row-gap: rem(20);
        width: rem(210);

        @include laptop {
            row-gap: rem(15);
            width: rem(190);
        }

        @include mobile {
            row-gap: rem(20);
            width: rem(250);
        }
    }
}

.edit-form {
    &__input {
        background: transparent;
        width: 100%;
        color: var(--color-light);
        border: rem(2) solid var(--color-dark-40);
        border-radius: rem(10);
        padding: rem(5) rem(10);

        &:focus-visible {
            border: rem(2) solid var(--main-accent); 
            outline: none;
        }
    }

    &__select {
        display: flex;
        column-gap: rem(20);

        &-title {
            width: rem(120);
            cursor: default;
        }

        &-items {
            display: flex;
            column-gap: rem(10);

            &--view-type {
                column-gap: rem(20);
            }
        }

        &-item {
            --color: var(--color-muted-light);

            position: relative;

            [type="radio"] {
                z-index: -1;
                opacity: 0;
            }

            [type="radio"] + label{

                &::before {
                    --size: #{rem(20)};

                    @include square(var(--size));

                    display: flex;
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 100%;
                    background-color: var(--color);
                }
            }

            [type="radio"]:checked + label{

                &::before {
                    outline: rem(2) solid var(--color);
                    outline-offset: rem(3);
                }
            }

            &--color-none {
                --color: var(--color-dark-40);

                [type="radio"] + label{

                    &::before {
                        --size: #{rem(20)};

                        @include square(var(--size));

                        flex-shrink: 0;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url('../../assets/icons/none-icon.svg');
                        background-color: transparent;
                    }
                }
            }

            &--color-violet {
                --color: var(--main-accent);
            }

            &--color-blue {
                --color: var(--color-blue);
            }

            &--color-green {
                --color: var(--color-green);
            }

            &--color-yellow {
                --color: var(--color-yellow);
            }

            &--color-red {
                --color: var(--color-red);
            }

            &--icon-default {
                --color: var(--main-accent);

                [type="radio"] + label{

                    &::before {
                        --size: #{rem(20)};

                        @include square(var(--size));

                        flex-shrink: 0;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url('../../assets/icons/circle-default-icon.svg');
                        background-color: transparent;
                    }
                }
            }

            &--icon-lines {
                --color: var(--main-accent);

                [type="radio"] + label{
                    &::before {
                        --size: #{rem(20)};

                        @include square(var(--size));

                        flex-shrink: 0;
                        border-radius: rem(2);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url('../../assets/icons/list-line-icon.svg');
                        background-color: transparent;
                    }
                }
            }

            &--icon-sheet {
                --color: var(--main-accent);

                [type="radio"] + label{
                    &::before {
                        --size: #{rem(20)};

                        @include square(var(--size));

                        flex-shrink: 0;
                        border-radius: rem(2);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url('../../assets/icons/list-sheet-icon.svg');
                        background-color: transparent;
                    }
                }
            }

            &--icon-folder {
                --color: var(--main-accent);

                [type="radio"] + label{
                    &::before {
                        --size: #{rem(20)};

                        @include square(var(--size));

                        flex-shrink: 0;
                        border-radius: rem(2);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url('../../assets/icons/list-folder-icon.svg');
                        background-color: transparent;
                    }
                }
            }

            &--view-type-section {
                --color: var(--main-accent);

                [type="radio"] + label{
                    &::before {
                        flex-shrink: 0;
                        height: rem(30);
                        width: rem(35);
                        border-radius: rem(2);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url('../../assets/icons/view-section-icon.svg');
                        background-color: transparent;
                    }
                }
            }

            &--view-type-list {
                --color: var(--main-accent);

                [type="radio"] + label{
                    &::before {
                        flex-shrink: 0;
                        height: rem(30);
                        width: rem(35);
                        border-radius: rem(2);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url('../../assets/icons/view-list-icon.svg');
                        background-color: transparent;
                    }
                }
            }
        }
    }

    &__button {
        width: rem(110);
        height: rem(30);
        border-radius: rem(10);
        font-size: rem(16);
        padding-block: rem(4);
        font-weight: 400;
        align-items: center;

        &--transparent {
            color: var(--color-dark-40);
            background-color: transparent;
            border: rem(1) solid var(--color-dark-40);

            @include hover {
                background-color: var(--color-dark-40);
                color: var(--color-muted-light);
            }
        }
    }

    &__buttons-wrapper {
        display: flex;
        column-gap: rem(10);
    }
}