@use "../helpers" as *;

.header {

    &__body {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        padding: rem(12) rem(20);
        background-color: var(--color-dark-15);
        border-bottom-right-radius: rem(10);

        @include mobile {
            padding-block: rem(20);
        }

        &-main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: fluid(100, 20)
        }
    }

    &__overlay {
        display: flex;
        font-family: var(--font-famaly-accent);
        font-size: rem(22);
        align-items: center;

        @include mobile {
            display: none;
        }
    }

    &_extra {
        display: flex;
        column-gap: rem(15);
    }

    &__title {
        font-family: var(--font-famaly-accent);
        font-weight: 500;
        color: var(--main-accent);
    }

    &__extra-item {
        flex-shrink: 0;
        padding: rem(5);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        white-space: nowrap;
        border: none;
        outline: none;
    }
}