@use "../helpers" as *;

.icon {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);

    &::before {
        --size: #{rem(24)};

        @include square(var(--size));

        content: '';
        flex-shrink: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include laptop {
            --size: #{rem(20)};            
        }
    }

    &--logo {

        &::before {
            --size: #{fluid(60, 40)};

            background-image: url('../../assets/icons/logo.svg');
        }
    }
}