@use "../helpers" as *;

.icon {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);

    &::before {
        --size: #{rem(24)};

        @include square(var(--size));

        content: '';
        flex-shrink: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include laptop {
            --size: #{rem(20)};            
        }
    }

    &--logo {

        &::before {
            --size: #{fluid(60, 40)};

            background-image: url('../../assets/icons/logo.svg');
        }
    }

    &--logo-small {

        &::before {
            --size: #{fluid(34, 28)};

            background-image: url('../../assets/icons/logo.svg');
        }
    }

    &--basket {

        &::before {
            --size: #{fluid(26, 22)};
            
            background-image: url('../../assets/icons/basket-icon.svg');
        }
    }

    &--completed {

        &::before {
            --size: #{fluid(26, 22)};

            background-image: url('../../assets/icons/completed-icon.svg');
        }
    }

    &--stats {

        &::before {
            --size: #{fluid(26, 22)};

            background-image: url('../../assets/icons/stats-icon.svg');
        }
    }

    &--inbox {

        &::before {
            --size: #{fluid(26, 22)};

            background-image: url('../../assets/icons/inbox-icon.svg');
        }
    }

    &--profile {

        &::before {
            --size: #{fluid(26, 22)};

            background-image: url('../../assets/icons/priofile-icon.svg');
        }
    }

    &--circle-default {

        &::before {
            --size: #{fluid(24, 20)};

            background-image: url('../../assets/icons/circle-default-icon.svg');

        }
    }

    &--lines {
        &::before {
            --size: #{fluid(24, 20)};

            background-image: url('../../assets/icons/list-line-icon.svg');

        }
    }

    &--sheet {
        &::before {
            --size: #{fluid(24, 20)};

            background-image: url('../../assets/icons/list-sheet-icon.svg');

        }
    }

    &--folder {
        &::before {
            --size: #{fluid(24, 20)};

            background-image: url('../../assets/icons/list-folder-icon.svg');

        }
    }
}