@use "../helpers" as *;

.icon {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);

    &::before {
        --size: #{rem(24)};

        @include square(var(--size));

        display: flex;
        color: var(--main-accent);
        font-size: rem(12);
        font-weight: 600;
        content: attr(data-content);
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-shrink: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include laptop {
            --size: #{rem(20)};            
        }
    }

    &--logo {

        &::before {
            --size: #{fluid(60, 40)};

            background-image: url('../../assets/icons/logo.svg');
        }
    }

    &--logo-small {

        &::before {
            --size: #{fluid(32, 26)};

            background-image: url('../../assets/icons/logo.svg');
        }
    }

    &--basket {

        &::before {
            --size: #{fluid(20, 16)};
            
            background-image: url('../../assets/icons/basket-icon.svg');
        }
    }

    &--completed {

        &::before {
            --size: #{fluid(20, 16)};

            background-image: url('../../assets/icons/completed-icon.svg');
        }
    }

    &--today {

        &::before {
            --size: #{fluid(20, 16)};

            background-image: url('../../assets/icons/today-icon.svg');

        }
    }

    &--stats {

        &::before {
            --size: #{fluid(20, 16)};

            background-image: url('../../assets/icons/stats-icon.svg');
        }
    }

    &--inbox {

        &::before {
            --size: #{fluid(20, 16)};

            background-image: url('../../assets/icons/inbox-icon.svg');
        }
    }

    &--case {

        &::before {
            --size: #{fluid(20, 16)};

            background-image: url('../../assets/icons/list-case-icon.svg');
        }
    }

    &--profile {

        &::before {
            --size: #{fluid(20, 16)};

            background-image: url('../../assets/icons/priofile-icon.svg');
        }
    }

    &--circle-default {

        &::before {
            --size: #{fluid(20, 16)};

            background-image: url('../../assets/icons/circle-default-icon.svg');

        }
    }

    &--lines {
        &::before {
            --size: #{fluid(20, 16)};

            background-image: url('../../assets/icons/list-line-icon.svg');

        }
    }

    &--sheet {
        &::before {
            --size: #{fluid(20, 16)};

            background-image: url('../../assets/icons/list-sheet-icon.svg');

        }
    }

    &--folder {
        &::before {
            --size: #{fluid(20, 16)};

            background-image: url('../../assets/icons/list-folder-icon.svg');

        }
    }
}