@use "../helpers" as *;

.pop-up-window {
    @include abs-center;

    background-color: var(--color-dark-15);
    display: flex;
    flex-direction: column;
    padding: rem(25) rem(20);
    border-radius: rem(25);
    border: rem(1) solid var(--color-gray-50);
    row-gap: fluid(30, 20);
    z-index: 2
}