@use "../helpers" as *;

.task-list {
    display: flex;
    flex-grow: 1;
    column-gap: rem(25);
    padding: rem(25);
    max-width: calc(100% - rem(500));
    max-height: calc(100vh - var(--header-hieght));
    overflow: scroll;
    overflow-x: scroll;

    @include mobile {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &::-webkit-scrollbar {
        height: rem(10);
        width: rem(0);
        background: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-dark-25);
        height: rem(10);
        width: rem(25);
        border-radius: rem(20);
    }

    &--list-view {
        flex-direction: column;
        max-width: calc(100% - rem(500));
        max-height: calc(100vh - var(--header-hieght) - rem(1));
        padding: rem(25) rem(20);
        row-gap: rem(25);
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden;
        border-right: rem(1) solid var(--color-dark-25);

        &::-webkit-scrollbar {
            width: rem(8);
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-dark-25);
            height: rem(20);
            width: rem(8);
            border-radius: rem(20);
        }

        .task {
            flex-direction: row;
            height: rem(45);
            align-items: center;
            justify-content: space-between;
            padding: rem(7) rem(9);
            background-color: transparent;
            border-bottom: rem(1) solid var(--color-dark-15);
            border-radius: 0;

            @include hover {
                border-radius: rem(9);
                border-bottom: rem(0);
            }

            &--active {
                background-color: var(--color-dark-15);
                border-radius: rem(9);
                border-bottom: rem(0);
            }
        }
    }

    &__tasks {
        display: flex;
        flex-direction: column;
        row-gap: rem(0);
    }

    &__sections {
        display: flex;
        column-gap: rem(25);

        @include mobile {
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        width: rem(270);
        flex-shrink: 0;
        row-gap: rem(10);
        max-height: 99%;

        @include laptop {
            width: rem(230);
        }

        @include mobile {
            width: 100%;
        }

        &-active-tasks {
            display: flex;
            flex-direction: column;
            row-gap: rem(10);
        }

        &-completed-tasks {
            display: flex;
            flex-direction: column;
            row-gap: rem(10);
        }

        &-button-wrapper {
            display: inline-flex;
            padding: rem(6) rem(6);
            border-radius: rem(6);

            @include hover {
                background-color: var(--color-dark-25);
                cursor: pointer;
            }
        }

        &-title-wrapper {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            justify-content: space-between;
            align-items: center;
            white-space: nowrap;
            width: 100%;
            text-overflow: ellipsis;
            font-family: var(--font-famaly-accent);
            font-size: rem(16);

            &--full-width {
                grid-column: 1/5;
                width: 100%;
                border-radius: rem(10);
            }
        }

        &-button {
            grid-column: 1/3;

            &--active {
                background-color: var(--color-dark-15);
            }
        }

        &-button--small {
            @include square(#{fluid(16, 14)});
        }

        &-input {
            grid-column: 1/4;
            display: inline-flex;
            background-color: transparent;
            align-items: center;
            column-gap: rem(10);
            color: inherit;
            font-size: inherit;
            font-family: var(--font-famaly-accent);
            padding: rem(4) rem(8);
            border-radius: rem(10);
            border: rem(1) solid transparent; 
            text-overflow: ellipsis;
            
            @include hover {
                background-color: var(--color-dark-25);
            }

            &:focus-visible {
                border: rem(1) solid var(--main-accent); 
                outline: none;
            }

            &--transparent {
                border: none;

                &:focus-visible {
                    border: none; 
                    outline: none;
                }

                @include hover {
                    background-color: transparent;
                }
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            row-gap: rem(30);
            overflow: scroll;

            &::-webkit-scrollbar {
                width: rem(0);
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--color-dark-25);
                width: rem(6);
                border-radius: rem(20);
            }

            &-title {
                @include fluid-text(12, 10);

                color: var(--color-gray-60);
            }
        }

        .bordered {
            border: rem(1) solid var(--main-accent);
        }
    }
}