@use "../helpers" as *;

.task-details {
    display: none;
    flex-direction: column;
    padding: rem(15);
    row-gap: rem(20);
    background-color: var(--color-dark-15);
    border-top-left-radius: rem(20);
    border-bottom-left-radius: rem(20);
    margin-left: auto;

    &__input {
        @include textarea-default;

        width: rem(280);
        background-color: var(--color-dark);
        border-radius: rem(10);
        color: var(--color-light);
        padding: rem(10);
        outline: none;

        &--title {
            @include fluid-text(20, 16);

            height: rem(50);
            overflow: hidden;
        }

        &--description {
            @include fluid-text(16, 14);

            height: rem(500);
            overflow: hidden;
        }
    }

    &__subtasks {
        flex-grow: 1;
    }
}