@use "../helpers" as *;

.task-list {
    display: flex;
    column-gap: rem(25);
    padding: rem(25);

    @include mobile {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__sections {
        display: flex;
        column-gap: rem(25);

        @include mobile {
            width: 100%;
            overflow: scroll;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        width: rem(270);
        flex-shrink: 0;
        row-gap: rem(10);

        @include laptop {
            width: rem(230);
        }

        @include mobile {
            width: 100%;
        }

        &-active-tasks {
            display: flex;
            flex-direction: column;
            row-gap: rem(10);
        }

        &-completed-tasks {
            display: flex;
            flex-direction: column;
            row-gap: rem(10);
        }

        &-button-wrapper {
            display: inline-flex;
            padding: rem(6) rem(6);
            border-radius: rem(6);

            @include hover {
                background-color: var(--color-dark-25);
                cursor: pointer;
            }
        }

        &-title-wrapper {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            justify-content: space-between;
            align-items: center;
            white-space: nowrap;
            width: 100%;
            text-overflow: ellipsis;
            font-family: var(--font-famaly-accent);
            font-size: rem(16);

            &--full-width {
                grid-column: 1/5;
                width: 100%;
            }
        }

        &-button {
            grid-column: 1/3;
        }

        &-button-plus {
            @include square(#{fluid(16, 14)});

            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../assets/icons/plus-icon.svg');

            @include hover {
                background-color: var(--color-dark-25);
            }
        }

        &-input {
            grid-column: 1/4;
            display: inline-flex;
            background-color: transparent;
            align-items: center;
            column-gap: rem(10);
            color: inherit;
            font-size: inherit;
            font-family: var(--font-famaly-accent);
            padding: rem(4) rem(8);
            border-radius: rem(10);
            border: rem(1) solid transparent; 
            text-overflow: ellipsis;
            
            @include hover {
                background-color: var(--color-dark-25);
            }

            &:focus-visible {
                border: rem(1) solid var(--main-accent); 
                outline: none;
            }

            &--full-width {
                grid-column: 1/5;
                width: 100%;
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            row-gap: rem(30);

            &-title {
                @include fluid-text(15, 13);

                color: var(--color-gray-50);
            }
        }
    }
}