@use "../helpers" as *;

.task {
    display: flex;
    flex-direction: column;
    row-gap: rem(4);
    background-color: var(--color-dark-15);
    fill-opacity: 60%;
    border-radius: rem(9);
    padding: rem(9);

    @include hover {
        background-color: var(--color-dark-20);
    }

    &--active {
        background-color: var(--color-dark-25);
    }

    &--completed {
        color: var(--color-dark-40);

        .task__date {
            color: var(--color-dark-40);
        }
    }

    &__date {
        font-size: rem(12);
        font-weight: 400;
        color: var(--main-accent);
        margin-left: rem(37);

        &--red {
            color: var(--color-red);
        }
    }

    &__body {
        display: inline-flex;
        column-gap: rem(10);
        align-items: center;
        color: inherit;
    }

    &__title {
        font-weight: 400;
        font-family: var(--font-famaly-accent);
        font-size: rem(14);
        text-overflow: ellipsis;
        overflow: hidden;
        color: inherit;
    }

    &__checkbox {
        --size: #{rem(18)};

        @include square(var(--size));

        display: flex;
        flex-shrink: 0;
        border-radius: 3px;
        border: rem(2) solid var(--color-dark-40);
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        align-self: flex-start;

        &::after {
            content: '\2713';
            color: var(--color-dark-15);
            width: 0px;
            height: 0px;
            display: none;
        }

        &:checked {
            border: rem(2) solid transparent;
            background-color: var(--color-dark-40);

            &::after {
                width: rem(12);
                height: rem(12);
                display: block;
                margin-top: rem(-4);
            }
        }

        &--high {
            border-color: var(--color-yellow);
        }

        &--highest {
            border-color: var(--color-red);
        }

        &--middle {
            border-color: var(--color-blue);
        }
    }
}