@use "../helpers" as *;

.three-dots-menu {
    --size: #{rem(16)};

    @include square(var(--size));

    display: none;
    flex-shrink: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/icons/dots-menu-icon.svg');

    @include hover {
        cursor: pointer;
    }

    @include laptop {
        --size: #{rem(16)};            
    }

    &--active {
        display: inline-flex;
    }
}